                                    <!-- Get a list of all the page-numbers and their URLs for pages in the same library/document/chapter as the current page -->
                                    {% assign fullpages = site.pages | where: 'libname', page.libname | where: 'docname', page.docname | where: 'chapnum', page.chapnum, | sort: 'pagenum' %}
                                    {% assign pagenums = site.pages | where: 'libname', page.libname | where: 'docname', page.docname | where: 'chapnum', page.chapnum, | sort: 'pagenum' | map: 'pagenum' | uniq | compact %}
                                    {% assign pagecount = site.pages | where: 'libname', page.libname | where: 'docname', page.docname | where: 'chapnum', page.chapnum, | sort: 'pagenum' | map: 'pagenum' | uniq | compact | size  %}
                                    {% assign pageurls = site.pages | where: 'libname', page.libname | where: 'docname', page.docname | where: 'chapnum', page.chapnum, | sort: 'pagenum' | map: 'url' | uniq | compact %}
                                    {% if pagecount > 1 %}
<div class="seriesContext">
                                        {% assign lessone == page.pagenum | minus: 1 %}
                                        {% assign addone == page.pagenum | plus: 1 %}
                                        {% for pnum in pagenums %}
                                            {% if pnum == lessone %}
<!--    <a href="{{fullpages[forloop.index].url | remove: '/'}}"><button type="button" class="btn btn-primary">Previous Page </button></a> -->
        <a><button type="button class="btn btn-primary>matched pnum=lessone.  pnum={{pnum}}; loaded-page ={{page.pagenum}}; lessone={{lessone}}; addone={{addone}}</a>
                                            {% endif %}
                                            {% if pnum == addone %}
<!--    <a href="{{fullpages[forloop.index].url | remove: '/'}}"><button type="button" class="btn btn-primary">Next Page </button></a> -->
        <a><button type="button class="btn btn-primary>matched pnum=addone.  pnum={{pnum}}; loaded-page ={{page.pagenum}}; lessone={{lessone}}; addone={{addone}}</a>
                                            {% endif %}
                                        {% endfor %}
    <div class="btn-group">
        <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Jump to page <span class="caret"></span></button>
            <ol class="dropdown-menu">
                                        {% for pnum in pagenums %}
                                            {%if fullpages[pnum].pagenum == page.pagenum %}
                <li class="disabled"> <strong>→</strong>{{fullpages[forloop.index0].pagenum}}.{{fullpages[forloop.index0].title}}</li>
                                            {% else %}
                <li>
                    <a href="{{fullpages[forloop.index0].url | remove: '/'}}">{{fullpages[forloop.index0].pagenum}}. {{fullpages[forloop.index0].title}}</a>
                </li>
                                            {% endif %}
                                        {% endfor %}
            </ol>
    </div>
    &nbsp;
</div>
                                    {% endif %}
