                                    <!-- Get a list of all the page-numbers and their URLs for pages in the same library/document/chapter as the current page -->
                                    {% assign fullpages = site.pages | where: 'libname', page.libname | where: 'docname', page.docname | where: 'chapnum', page.chapnum, || sort: 'pagenum' %}
                                    {% assign pagenums = site.pages | where: 'libname', page.libname | where: 'docname', page.docname | where: 'chapnum', page.chapnum, | sort: 'pagenum' | map: 'pagenum' | uniq | compact %}
                                    {% assign pagecount = site.pages | where: 'libname', page.libname | where: 'docname', page.docname | where: 'chapnum', page.chapnum, | sort: 'pagenum' | map: 'pagenum' | uniq | compact | size  %}
                                    {% assign pageurls = site.pages | where: 'libname', page.libname | where: 'docname', page.docname | where: 'chapnum', page.chapnum, | sort: 'pagenum' | map: 'url' | uniq | compact %}
                                    {% if pagecount > 1 %}
<div class="seriesContext">
                                        {% for pnumval in pagenums %}

                                            <p> page.pagenum:  {{page.pagenum | to_i }} </p>
                                            <p> pnum from looped array item:  {{pnumval}} </p>
                                            <p> pnum from looped array item as integer:  {{pnumval | to_i }} </p>

                                            {% assign host-page-num = page.pagenum | plus: 0 %}
                                            {% assign host-page-num-upone = page-weight-num | plus: 1 %}
                                            {% assign host-page-num-downone = page-weight-num | minus: 1 %}
                                            <p> host-page-num: {{host-page-num}} ---- host-page-num-upone: {{host-page-num-upone}} ---- host-page-num-downone: {{host-page-num-downone}}</p>

                                            {% assign varone == '' | plus: 0 %}
                                            {% assign vartwo == '' | plus: 0 %}

                                            <p>Test arithmetic: {{varone}}; {{varone | increment}}   </p>
                                            {% assign varone == varone | plus: 1 %}
                                            <p> varone with 1 added:  {{varone}} </p>
                                            {% varone == varone | plus: 2 }
                                            <p> </p>



                                        {% endfor %}





    </div>
    &nbsp;
</div>
                                    {% endif %}
