<p> Listing page-index, library name, and document name for every single page.</p>

<!-- Building arrays/lists/hashes/whatevers of the page-hierarchy tags in the frontmatter of all the pages -->
{% assign libnames = site.pages | map: 'libname' | join: '#' | split: '#'  %}
{% assign docnames = site.pages | map: 'docname' | join: '#' | split: '#' %}
{% assign pagetitles = site.pages | map: 'title' | join: '#' | split: '#' %}
{% assign pagecount = site.pages | size %}

<!-- Looping through the site.pages object and grabbing directly from each page object-->
{% for page in site.pages %}
<p> {{ forloop.index0 }} | {{ page.title }} | {{ pagetitles[forloop.index0] }}
<p>{{ forloop.index0 }}: {{ libnames[forloop.index0] }} : {{ docnames[forloop.index0]}} : {{ pagetitles[forloop.index0]}}</p>

{% endfor %}

<p>Pagecount is: {{ pagecount }} </p>
<p>Unique List of Libraries is:</p>
{% assign uniquelibs = libnames | uniq %}
{% for ulibname in uniquelibs %}
<p>{{ uniquelibs[forloop.index0] }} </p>

<p>Libraryvaluecount is: {{ libnames | size }} </p>
<p>docnamevaluecount is: {{ docnames | size }} </p>



