<!-- Building arrays/lists/hashes/whatevers of the page-hierarchy tags in the frontmatter of all the pages -->
{% assign libnames = site.pages | map: 'libname'  %}
{% assign docnames = site.pages | map: 'docname' %}
{% assign pagetitles = site.pages | map: 'title' %}
{% assign pagecount = site.pages | size %}

<!-- building the actual data for the topnavs -->
{% assign uniquelibs = libnames | uniq | compact %}

{% assign unilib_entries = site.emptyArrary %}
{% assign tempvar =  site.emptyArrary  %}





<p> super-temporary testing </p>

{% assign libsdotdocs = site.emptyArray | compact}
{% assign temparray = site.emptyArray | compact}

{% for unilib in uniquelibs %}
  {% assign temparray = site.pages | where: 'libname', unilib | map: 'docname' | uniq | compact%}
  {% assign loopref = unilib %}
  {% for item in temparray %}
    <p> {{ loopref }}.{{ item }} <p>
    {% assign libsdotdocs = libsdotdocs | push: loopref | append: '#' | append: item}
  {% endfor %}
{% endfor %}
<p>{{ libsdotdocs}}</p>
<p>

{% for entry libsdotdocs %}
  {% assign temparray = entry | }

{% endfor}

</p>
<p></p>
<p></p>




<p> --------end of testing-------- </p>

<!--
push - add element to end (== append)
pop - remove last element (== truncate [?])
shift - remove first element (== pop, or rather, pop gets [results in] the element, this is the result [impact] upon the array.)
unshift - add element to beginning (== push)
-->
