<!-- Building arrays/lists/hashes/whatevers of the page-hierarchy tags in the frontmatter of all the pages -->
{% assign libnames = site.pages | map: 'libname'  %}
{% assign docnames = site.pages | map: 'docname' %}
{% assign pagetitles = site.pages | map: 'title' %}
{% assign pagecount = site.pages | size %}

<!-- building the actual data for the topnavs -->
{% assign uniquelibs = libnames | uniq | compact %}

assign unilib_entries = emptyArray: []

<!-- Loop through the list of unique library names -->
{% for unilib in uniquelibs %} -->
  {% assign unilib_entries = unilib_entries | push: site.pages | where: 'libname', unilib | map: 'docname' | uniq | join '_' %}

  <p> Did we succeed in pushing the joined set of document names into unilib_entries[{{forloop.index0}}]?: {{unilib_entries[forloop.index0}} </p>
  <p> 
  {% for ue in unilib_entries %}
    <p> {{ unilib }}. {{ entry }} </p>
  {% endfor %}


{% endfor %}

<!--
push - add element to end (== append)
pop - remove last element (== truncate [?])
shift - remove first element (== pop, or rather, pop gets [results in] the element, this is the result [impact] upon the array.)
unshift - add element to beginning (== push)
-->
