<p> Listing page-index, library name, and document name for every single page.</p>

<!-- Building arrays/lists/hashes/whatevers of the page-hierarchy tags in the frontmatter of all the pages -->
{% assign libnames = {{ site.pages | map: 'libname'}} %}
{% assign docnames = {{ site.pages | map: 'docname'}} %}

<!-- Working with the chopped-up front matter to infer the unique "libary"|"document" pairs which will be used to define the topnav elements  -->
{% for page in site.pages %}
  <p> V1 page details: {{ forloop.index }}_{{ page.libname }}_{{ page.docname }}  </p>

  {% assign lib = page.libname %}
  {% assign docc = page.docname %}
  <p> V2 Page details: {{ forloop.index }}_{{ han }}_{{ lib }}_{{ docc }}  </p>

  {% assign nhan = handles[forloop.index] %}
  {% assign nlib = libnames[forloop.index] %}
  {% assign ndocc = docnames[forloop.index] %}
  <p> V3 Page details:  {{ forloop.index }}_{{ nhan }}_{{ nlib }}_{{ ndocc }}  </p>

{% endfor %}

<!-- Once arrays are working, need to build an array of concatenated libname_docname strings
  then apply uniq to that array, then "split" that array to get the unique library types-->

Now, what's up with the arrays not working? 
 {{assign liblist = libnames | uniq }}

<p> If it worked, they'd be directly above this line.</p>

