<p> Listing page-index, library name, and document name for every single page.</p>

<!-- Building arrays/lists/hashes/whatevers of the page-hierarchy tags in the frontmatter of all the pages -->
{% assign libnames = site.pages | map: 'libname' | join: '#' | split: '#'  %}
{% assign docnames = site.pages | map: 'docname' | join: '#' | split: '#' %}
{% assign pagetitles = site.pages | map: 'title' | join: '#' | split: '#' %}
{% assign pagecount = site.pages | size %}

<!-- Looping through the site.pages object and grabbing directly from each page object-->
{% for page in site.pages %}
<p> {{ forloop.index }} | {{ page.title }} | {{ pagetitles[forloop.index | plus: 1] }}
{% endfor %}

    <p>{{ forloop.index }}_{{ libnames[forloop.index] }}_{{ docnames[forloop.index]}}_{{ pagetitles[forloop.index]}} ---------------- {{ forloop.index }}_{{ page.libname }}_{{ page.docname }}_{{ page.title }}</p>

<p>Pagecount is: {{ pagecount }} </p>
<p>Unique List of Libraries is:
{% assign uniquelibs = libnames | uniq %}
{{ uniquelibs }} </p>

<p>Libraryvaluecount is: {{ libnames | size }} </p>
<p>docnamevaluecount is: {{ docnames | size }} </p>
<p>Was really hoping those (^) were going to be the same size as the pagecoun.  Maybe empty elements don't get counted.  All that matters is the populated elements are accessible by index.</p>





<!-- Once arrays are working, need to build an array of concatenated libname_docname strings
  then apply uniq to that array, then "split" that array to get the unique library types-->
<p>Trying something else here:</p>


{{ topnav_drops }}

