<!-- Building arrays/lists/hashes/whatevers of the page-hierarchy tags in the frontmatter of all the pages -->
{% assign libnames = site.pages | map: 'libname'  %}
{% assign docnames = site.pages | map: 'docname' %}
{% assign pagetitles = site.pages | map: 'title' %}
{% assign pagecount = site.pages | size %}

<!-- building the actual data for the topnavs -->
{% assign uniquelibs = libnames | uniq | compact %}

{% assign unilib_entries = emptyArray: [] %}
{% assign testy_entries = emptyArray: [] %}

<!-- Loop through the list of unique library names -->
{% for unilib in uniquelibs %}
  {% assign unilib_entries = unilib_entries | push: site.pages | where: 'libname', unilib | map: 'docname' | uniq | join '_' %}
  {% assign testy_entries = unilib_entries | push: site.pages | where: 'libname', unilib | map: 'docname' | uniq %}

  <p> Unique docnames joined and put into a single string in index of an arry: {{ unilib_entries[forloop.index0}} </p>
  <p> Unique docnames, into an array that needs to be enumerated:  {{ testy_entries }} </p>

{% endfor %}

<!--
push - add element to end (== append)
pop - remove last element (== truncate [?])
shift - remove first element (== pop, or rather, pop gets [results in] the element, this is the result [impact] upon the array.)
unshift - add element to beginning (== push)
-->
