<!--
lvl1 = topnav button name
lvl2 = sidebar name (same as topnav dropdown list entry, e.g. book or article)
lvl3 = 1st level of entries in sidebar  (eg section or chapter)
lvl4 = 2nd level of entries in sidebar  (eg chapter or page )
lvl5 = 3rd level of entries in sidebar  (e.g  page)
-->

<div class="mydocsidebar background-color: whitesmoke;">
   <div class="sidebar-inner background-color: whitesmoke;">
      {% unless page.sidebar == null %}
         {% assign sbtitle = site.pages | where: 'l1idx', page.l1idx | where: 'l2idx', page.l2idx | map: 'l2name' | compact | uniq %}
         <div class="productTitle">{{sbtitle}} </div>
      {% endunless %}
      {% unless page.url contains 'index.html' %}
         <ul id="docnavsidebar" class="docnav">
            <!-- Get a list of all pages with l1/l2/l3.idx values that match *this* page.  (these are all the pages that should be in the sidebar)  -->
            {% assign sbpages = site.pages | where: 'l1idx', page.l1idx | where: 'l2idx', page.l2idx | sort: '13idx' %}
            {% if sbpages %}
               <!-- Get a list of all the unique/sorted l3 indice from sbpages -->
               {% assign sbl3idxes = sbpages | map: 'l3idx' | compact | uniq %}
               <li><a> Unique L3 indices: {{sbl3idxes}}</a></li>
               <li><a> # of unique L3 indices: {{sbl3idxes.size}}</a></li>
               <li><a> </a></li>
               {% for sbl3ix in sbl3idxes %}
                  <li><a> L3 index {{forloop.index}}: {{sbl3ix}} </a></li>
                  {% assign l3name = sbpages | where: 'l3idx', sbl3idxes[forloop.index0] | map: 'l3name' | compact | uniq %}
                  <!-- <li><a> Index#: {{sbl3ix}}.  Index-name: {{sbl3name}}</a></li> -->
               {% endfor %}
            {% endif %}
         </ul>
      {% endunless %}
   </div>
</div>

