<ul id="mysidebar" class="nav">
  <li class="sidebarTitle">{{page.libname}}</li>
                        {% assign docnames = site.pages | where: 'libname', page.libname | map: 'docname' | uniq | compact %}
                        {% for adoc in docnames %}
                              {% assign doccnt = forloop.index0 %}
                              {% assign chapnums =  site.pages | where: 'libname', page.libname | where: 'docname', adoc | sort: 'chapnum' | map: 'chapnum' | uniq | compact %}
                              {% assign chapnames = site.pages | where: 'libname', page.libname | where: 'docname', adoc | sort: 'chapnum' | map: 'chapnam' | uniq | compact %}
  <li>
    <a title=" {{adoc}}" href="#">{{adoc}}</a>
    <ul>
                              {% for chapnum in chapnums %}
                                    {% assign chapcnt = forloop.index0 %}
                                    {% assign pagenames = site.pages | where: 'libname', page.libname | where: 'docname', adoc | where: 'chapnum', chapnum | sort: 'pagenum' | map: 'title' | uniq | compact %}
                                    {% assign pageurls = site.pages | where: 'libname', page.libname | where: 'docname', adoc | where: 'chapnum', chapnum | sort: 'pagenum' | map: 'url' | uniq | compact %}
      <li class="subfolders">
        <a title="{{ chapnames[chapcnt] }}" href="#"> {{ chapnames[chapcnt] }}</a>
        <ul>
                                    {% for apage in pagenames %}
                                          {% if page.docname == adoc and page.chapnum == chapnums[[chapcnt]] and page.title == apage %}
          <li><a title="{{apage}}" href="{{pageurls[forloop.index0] | remove: "/"}}"{{apage}}</a></li>
                                          {% else %}
          <li><a title="{{apage}}" href="{{pageurls[forloop.index0] | remove: "/"}}">{{apage}}</a></li>
                                          {% endif %}
                                    {% endfor %}
        </ul>
      </li>
                              {% endfor %}
     </ul>
  </li>
                        {% endfor %}
  <p class="external">
    <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
  </p>
</ul>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
