<!--
lvl1 = topnav button name (e.g. "articles" or "books")
lvl2 = sidebar name (same as topnav dropdown list entry, (e.g. "book 1" or "article 2")
lvl3 = 1st level of entries in sidebar  (eg section or chapter)
lvl4 = 2nd level of entries in sidebar  (eg chapter or page )
lvl5 = 3rd level of entries in sidebar  (e.g  page or sub-page)
-->

<div class="medianav">
{% include social_media_icons.html %}
</div>
<!-- <div class="mydocsidebar"> -->
   <div class="mencknav">
      {% unless page.url contains 'index.html' %}
         {% assign sbtitle = site.pages | where: 'l1idx', page.l1idx | where: 'l2idx', page.l2idx | map: 'l2name' | compact | uniq %}
         <div class="productTitle" style="padding-top: 32px;"><p>{{sbtitle}}</p></div>
      {% endunless %}
      {% unless page.url contains 'index.html' %}
            <!-- Get a list of all pages with l1/l2 index values that match *this* page.  (these are *all* the pages that should be in the sidebar)  -->
            {% assign ourpages = site.pages | where: 'l1idx', page.l1idx | where: 'l2idx', page.l2idx | sort: '13idx' %}

            <!-- start building the tree if there *are* any other pages that match *this* page's l1|2 index values. -->
            {% if ourpages.size > 0 %}
               <!-- Get a list of all the unique/sorted l3 indices from sbpages -->
               {% assign ourl3idxes = ourpages | sort: "l3idx" | map: 'l3idx' | compact | uniq %}
               <!-- Loop through all the unique L3 indices and create the first level entries in the sidebar menu -->
               {% if ourl3idxes.size > 0 %}
                  {% for l3ix in ourl3idxes %}
                     <!-- Get a list of all the pages with *current* L3 index -->
                     {% assign myl3pages = ourpages | where: 'l3idx', l3ix | sort: 'l3idx' %}
                     <!-- set variables for the l3name and url value that corresponds to the l3index value of the current iteration of the loop -->
                     {% assign myl3name = myl3pages | where: 'l3idx', l3ix | map: 'l3name' | compact | uniq | array_to_sentence_string %}
                     {% assign myl3url = myl3pages | where: 'l3name', myl3name | map: 'url' | compact | uniq | array_to_sentence_string %}
                     <!-- Get all the unique L4 indices in pages with *current* L3 index -->
                     {% assign myl4idxes = myl3pages | sort: "l4idx" | map: 'l4idx' | compact | uniq %}
                     <!-- Testing to see if the current l3 index has an l4 children. -->
                     {% if myl4idxes.size > 0 %}
                        <!-- Look to see if there is an apex page for this folder and grab its URL. -->
                        <details {% if page.l3idx == l3ix%}open{%endif%}><summary>{{myl3name}}</summary>
                           {% for l4ix in myl4idxes %}
                              {% assign myl4name = myl3pages | where: 'l4idx', l4ix | sort: 'l4idx' | map: 'l4name' | compact | uniq | array_to_sentence_string %}
                              {% assign myl4url  = myl3pages | where: 'l4name', myl4name[0] | sort: 'l4idx' | map: 'url' | compact | uniq  | array_to_sentence_string %}
                              <!-- Get a list of all the pages with *current* L4 index -->
                              {% assign myl4pages = myl3pages | where: 'l4idx', l4ix | sort: 'l4idx' %}
                              <!-- Get all the unique L5 indices in pages with *current* L3&L4 index -->
                              {% assign myl5idxes = myl4pages | sort: "l5idx" | map: 'l5idx' | compact | uniq %}
                              {% if myl5idxes.size > 0 %}
                                 <details {% if page.l4idx == l4ix AND page.l3idx == l3ix%}open{%endif%}><summary>{{myl4name}}</summary>
                                    {% for l5ix in myl5idxes %}
                                       {% assign myl5name = myl4pages | where: 'l5idx', l5ix | sort: 'l5idx' | map: 'l5name' | compact | uniq | array_to_sentence_string %}
                                       {% assign myl5url = myl4pages | where: 'l5name', myl5name[0] | sort: 'l5idx' | map: 'url' | compact | uniq | array_to_sentence_string %}
                                       <p class="l5item{% if page.l5idx == l5ix AND page.l4idx == l4ix AND page.l3idx == l3ix %}active{%endif%}"><a title="{{myl5name}}" href="{{myl5url[0] | remove: "/"}}">{{myl5name}}</a></p>
                                    {% endfor %}
                                 </details>
                              {% else %}
                                 <p class="l4item{% if page.l4idx == l4ix and page.l3idx == l3ix %}active{% endif %}"><a title=" {{myl4name}}" href="{{l4url[0] | remove: "/"}}">{{myl4name}}</a></p>
                              {% endif %}
                           {% endfor %}
                        </details>
                     {% else %}
                        <p class="l3item{% if page.l3idx == l3ix %}"active"{% endif %}><a title=" {{myl3name}}" href="{{l3url[0] | remove: "/"}}">{{myl3name}}</a></p>
                     {% endif %}
                  {% endfor %}
               {% else %}
                  <p> Nothing here yet; check back later</p>
               {% endif %}
            {% else %}
               <p> Nothing here yet; check back later</p>
            {% endif %}   
      {% endunless %}
   </div>
<!-- </div> -->
