<!-- social_media_icons.html -->

    </a>
    <a class="noCrossRef" href="https://twitter.com/totstroc">
        <div class="stwitter"></div>
    </a>

    <a class="noCrossRef" href="https://open.spotify.com/user/menckendavidson?si=dbdeab7d65164175">
        <div class="spotify"></div>
    </a>

    <a class="noCrossRef" href="https://www.linkedin.com/in/mencken">
        <div class="slinkedin"></div>
    </a>

    <a class="noCrossRef" href="https://github.com/menckend/">
        <div class="sgithub"></div>
    </a>

<div style="clear:both"></div>

<!-- end social_media_icons.html -->