<div class="seriesContext">
    <a>
        {% assign pages = site.pages | sort:"weight"  %}
        {% for pg in pages %}
            {% if pg.series == "dGLB series" %}
                {% assign pg-weight-num = pg.weight | plus: 0 %}
                {% assign page-weight-num = page.weight | plus: 0 %}
                {% if pg-weight-num == page-weight-num | minus: 1 }}  %}
                    <a href="{{pg.url | remove: '/'}}"><button type="button" class="btn btn-primary">Previous Page </button></a>
                    <a> {{pg.weight}} {{pg-weight-num}} -- the values} </a>
                    {% break %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for pg in pages %}
            {% if pg.series == "dGLB series" %}
                {% assign pg-weight-num = pg.weight | to_i %}
                {% assign page-weight-num = page.weight | plus: 0 %}
                {% if pg-weight-num == page-weight-num | plus: 1 %}
                    <a href="{{pg.url | remove: '/'}}"><button type="button" class="btn btn-primary">Next Page</button></a>
                    {% break %}
                {% endif %}
            {% endif %}
        {% endfor %}
    </a>
    &nbsp;
    <div class="btn-group">
        <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Jump to page <span class="caret"></span></button>
        <ol class="dropdown-menu">
            {% for pg in pages %}
            {% if pg.series == "dGLB series" %}
            {% if pg.url == page.url %}
            <li> <strong>→</strong>{{pg.weight}}. {{pg.title}}</li>
            {% else %}
            <li>
                <a href="{{pg.url | remove: '/'}}">{{pg.weight}}. {{pg.title}}</a>
            </li>
            {% endif %}
            {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>

{% comment %} Copyright 2021 Google LLC {% endcomment %}