<div class="seriesContext">
    <div class="btn-group">
        <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">dGLB <span class="caret"></span></button>
        <ol class="dropdown-menu">
            {% assign pages = site.pages | sort:"weight"  %}
            {% for p in pages %}
               {% if p.series == "dGLB series" %}
                  {% if p.url == page.url %}
                     <li class="active"> → {{p.title}}</li>
                  {% else %}
                  <li>
                      <li class="active"> {{p.title}}</li>
                  </li>
                  {% endif %}
               {% endif %}
            {% endfor %}
        </ol>
    </div>
</div>

{% comment %} Copyright 2021 Google LLC {% endcomment %}
