---
layout: default
---

<div class="post-header">
   <h1 class="post-title-main">{{ page.title }}</h1>
</div>

{% if page.simple_map == true %}

<script>
    $(document).ready ( function(){
        $('.box{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% elsif page.complex_map == true %}

<script>
    $(document).ready ( function(){
        $('.modalButton{{page.box_number}}').addClass('active');
    });
</script>

{% include custom/{{page.map_name}}.html %}

{% endif %}

<div class="post-content">

   {% if page.summary %}
    <div class="summary">{{page.summary}}</div>
   {% endif %}

    {% if page.series %}
        <div class="seriesContext">
	        if {% site.page.series != '' %}
            {% assign anchor-series = page.series  %}
            <a>
                {% for pg in site.pages %}
                    {% if pg.series == anchor-series %}
                        {% assign pg-weight-num = pg.weight | plus: 0 %}
                        {% assign page-weight-num = page.weight | plus: 0 %}
                        {% assign page-weight-lessone = page-weight-num | minus: 1 %}
                        {% if pg-weight-num == page-weight-lessone %}
                            <a href="{{pg.url | remove: '/'}}"><button type="button" class="btn btn-primary">Previous Page </button></a>
                            {% break %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% for pg in pages %}
                    {% if pg.series == "dGLB series" %}
                        {% assign pg-weight-num = pg.weight | plus: 0 %}
                        {% assign page-weight-num = page.weight | plus: 0 %}
                        {% assign page-weight-addone = page-weight-num | plus: 1 %}
                        {% if pg-weight-num == page-weight-addone %}
                            <a href="{{pg.url | remove: '/'}}"><button type="button" class="btn btn-primary">Next Page </button></a>
                            {% break %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
	        </a>
            &nbsp;
            <div class="btn-group">
                <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Jump to page <span class="caret"></span></button>
                <ol class="dropdown-menu">
                    {% for pg in pages %}
                    {% if pg.series == "dGLB series" %}
                    {% if pg.url == page.url %}
                    <li class="disabled"> <strong>→</strong>{{pg.weight}}. {{pg.title}}</li>
                    {% else %}
                    <li>
                        <a href="{{pg.url | remove: '/'}}">{{pg.weight}}. {{pg.title}}</a>
                    </li>
                    {% endif %}
                    {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
	{% endif %}
</div>
    {% endif %}
    {% unless page.toc == false %}
    {% include toc.html %}
    {% endunless %}

<!--
    {% if site.github_editme_path %}

    <a target="_blank" rel="noopener" href="https://github.com/{{site.github_editme_path}}{{page.path}}" class="btn btn-default githubEditButton" role="button"><i class="fa fa-github fa-lg"></i> Edit me</a>

    {% endif %}
//-->

   {{content}}

    <div class="tags">
        {% if page.tags != null %}
        <b>Tags: </b>
        {% assign projectTags = site.data.tags.allowed-tags %}
        {% for tag in page.tags %}
        {% if projectTags contains tag %}
        <a href="{{ "tag_" | append: tag | append: ".html" }}" class="btn btn-default navbar-btn cursorNorm" role="button">{{page.tagName}}{{tag}}</a>
        {% endif %}
        {% endfor %}
        {% endif %}
    </div>

{% include commento.html %}

</div>

{{site.data.alerts.hr_shaded}}

{% include footer.html %}

{% comment %} Copyright 2021 Google LLC {% endcomment %}
